<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edgarsshoppinglist">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Edgars Shopping Lista"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.edgarsshoppinglist.AddItems"
            android:label="Add Items"
            android:parentActivityName="com.example.edgarsshoppinglist.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.edgarsshoppinglist.MainActivity">
            </meta-data>
        </activity>
        <activity
            android:name="com.example.edgarsshoppinglist.MainActivity"
            android:label="Edgars Shopping Lista"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>